 .bg-video {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     min-width: 100%;
     min-height: 100%;
     min-height: 100vh; 
   }
 
  

h1 {
    position: fixed;
           
   
       
        color: white;
}
   .ul {
       list-style-type: none;
       margin: 0%;
       padding: 25px;
       text-align: center;
       padding-left: 40%;
       padding-right: 40%;
   }

   li {
       text-align: center;
       display: inline;
    padding-left: 39px;
        
   }

   li a {
       color: rgb(219, 207, 207);
       padding: 50px ;
       text-decoration: none;
       text-align: center;
       
   }


 h4 {
     position: fixed;
     left: 0.25;
     bottom: 0;
     width: auto;
     color: white;

 }

 a {
     color: rgb(221, 221, 236);
 }
